@model Final8Net.Models.LoginViewModel
<link rel="stylesheet" href="~/css/Login.css">
<form method="post" class="form-horizontal" role="form">
    <div class="c1">
        <h2 class="text">Login</h2>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <section id="loginForm">
                        <img src="../img/Picture3.png">
                        @using(Html.BeginForm("Login", "Account", new { returnUrl = Context.Request.Query["ReturnUrl"] }, FormMethod.Post,null, new { @class = "form-horizontal", role = "form" }))
                            {
                            @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div id="myuser">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email), style = "border: none; width: 310; background-color: #eee;" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div id="mypass">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password), style = "border: none; width: 310; background-color: #eee;" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <a href="~/Home/Index" class="navbar-brand">
                                    <input type="submit" value="Log in" class="submit" />
                                    </a>
                            </div>
                        </div>
                        <p class="frt">
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                        <div class="cont">
                            <p class="sign">
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                        </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</form>
